{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <h1>{{title}}</h1>
                    {{ form|crispy }}
                    <button class="btn btn-dark">{{title}}</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
